@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');




.screenOutput {
    text-align: right;
   
}


.equal {
    flex: auto;
}
body{
    flex-direction: column;

    width: 100vh;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(239, 211, 216), rgb(155, 155, 243));
}

main {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
    padding: 5px;
    border-radius: 1px;
    background: white;
   
    
}


.outputScreen {
    text-align: right;
    margin: 0;
    padding: 1rem;
    background: lightblue;
    border: 1px solid ;
    border-radius: 5px;
    height: 120px;

}

div {
    display:flex;
}

button {
    width: 4rem;
    margin: 2px;
    height: 4rem;
    background: slategrey;
    border: 1px solid grey;
    margin: 3px 3px px 3px;
    border-radius: 5px;
    font-size: larger;
    padding: 30px 0;
}
button:hover {
    background-color: cyan;
}


.equal {
    flex: auto;
}

/* .calc-bnt{
    background-color:silver ;
    color: black;
    height: 25px; ;
    width:45px ;
    text-align:center ;
    border: 1px solid gray ;
    font-size: 32;
    font-weight: 100;
    cursor: pointer;
    padding-top: 3px;

}
.calc-bnt:hover {
    background-color: violet;

}
.row {
    display: table;
    table-layout: fixed;
    width: 200px;
}
.column{
    display:table-cell;

}
#calc-zero{
    width: 96.6666666px;
    border-radius: 0 0 0 7px;
}
#calc-clear{
    width: 96.6666666px; 
}
#calc-display-val{
    height: 80px;color: white ;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    text-align: right;
    background-color: aqua;
    font-size: 48px;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;

}
.calc-btn-operator{
    background-color: orange;
    color: white;
}
h1 {
text-align: center; 
margin-top: 52px;  
}
#calc-equals {
    border-radius: 0 0 7px 0;
}
#calc-parent{
    margin-left: calc(50%-100);
} */