@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    cursor: pointer;

}

main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid red;
    padding: 5px;
}
.screenOutput {
    text-align: right;
}

div {
    display: flex;
}


button {
    margin: 2px;
    width: 4rem;
    height: 4rem;
    background: lightcyan;
    border: 1px solid grey;
    border-radius: 4px;
}


.equal {
    flex: auto;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgb(239, 211, 216), rgb(155, 155, 243));
}

main {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.outputScreen {
    text-align: right;
    margin: 0;
    padding: 1rem;
    background: lightblue;
    border: 1px solid grey;
    border-radius: 5px;
}

div {
    display: flex;
}

button {
    width: 4rem;
    height: 3rem;
    background: slategrey;
    border: 1px solid grey;
    margin: 3px 3px px 3px;
    border-radius: 5px;
}

.equal {
    flex: auto;
}

/* .calc-bnt{
    background-color:silver ;
    color: black;
    height: 25px; ;
    width:45px ;
    text-align:center ;
    border: 1px solid gray ;
    font-size: 32;
    font-weight: 100;
    cursor: pointer;
    padding-top: 3px;

}
.calc-bnt:hover {
    background-color: violet;

}
.row {
    display: table;
    table-layout: fixed;
    width: 200px;
}
.column{
    display:table-cell;

}
#calc-zero{
    width: 96.6666666px;
    border-radius: 0 0 0 7px;
}
#calc-clear{
    width: 96.6666666px; 
}
#calc-display-val{
    height: 80px;color: white ;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    text-align: right;
    background-color: aqua;
    font-size: 48px;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;

}
.calc-btn-operator{
    background-color: orange;
    color: white;
}
h1 {
text-align: center; 
margin-top: 52px;  
}
#calc-equals {
    border-radius: 0 0 7px 0;
}
#calc-parent{
    margin-left: calc(50%-100);
} */